VITE_DATA_SOURCE=api
VITE_API_URL=your_url_api_here

VITE_FIREBASE_API_KEY=AIzaSyCShyIhPxFypTus1ZJsAMFwJXrWqY63yKg
VITE_FIREBASE_AUTH_DOMAIN=lumina-gate-dev.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=lumina-gate-dev
VITE_FIREBASE_STORAGE_BUCKET=lumina-gate-dev.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=668320372975
VITE_FIREBASE_APP_ID=1:668320372975:web:3adfa8edc862b100c0631a
VITE_FIREBASE_MEASUREMENT_ID=your_measurement_id_here


